<!DOCTYPE html>
<html>
    <head>
    <% include ./partials/head %>

    </head>
    <body>
      <div class="login-form" style="margin-top:100px;">
      <form name="LoginForm" method="post">
      <div class="form-group">
        <div class="center">
          <img src="static/images/logo_new.png" >
        </div>
      </div>
      <div style="margin-top: 30px;"></div>
      <div class="form-group">
        <label for="username">Email address</label>
        <input type="email" class="form-control" id="login-username" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
          <button type="button" class="btn btn-danger btn-lg btn-block">Login</button>
      </div>
      <div class="form-group">
          <button type="button" class="btn btn-secondary btn-lg btn-block">Join Us For Free</button>
      </div>
      </form>
      </div>
    </body>
</html>
